<%- include('header'); -%>
    <div class="container-fluid mt-4 p-5">
      <h2 class="mt-3"> Home </h2>
    <p>Welcome to <%= content %></p>
    <a href="/compose">
      <button class="btn btn-dark">Add New Post</button>
    </a>
    <div class="class mt-2">
      <% posts.forEach(function(item) { %>
        <h4>
          <%= item.title %>
        </h4>
        <p><%= item.body.substring(0, 100) + '...' %></p>
        <a href="/posts/<%=item.title %>"> Read more</a>
      <% }); %>
    </div>
    </div>
